@tailwind base;
@tailwind components;
@tailwind utilities;

.customshadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.customshadow2 {
box-shadow: 0px 2px 4px 0px #00000005;
}

.textblanco {
    fill: white !important; /* Override fill color for light mode */
  }